<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/cbd21d6c78.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <img class="background-img" src="/img/Cloths-bc740630f228713e4bb0de8a7bffce22.png" alt="">
    <header>
        <h1 class="brand">AwsomeShop</h1>
        <div class="need-help">
            <p>Need Help</p>
            <button>Join</button>
        </div>
        
        <div class="search">
            <h1>Shop your designer dresses</h1>
            <p>Ready to wear dereses tailored for you from online. Hurry up while stock lasts.</p>
            <input type="search" name="" id="" placeholder="Search your products from here">
        </div>
    </header>

    <footer>
        <table class="promotions">
            <tr>
                <td style="background-color: pink;">
                    <table>
                        <tr>
                            <td>
                                <h1>Coupon Saving</h1>
                                <button>Shop Coupon</button>
                            </td>
                            <td>
                                <img src="/img/icons8-coupon-100.png" alt="">
                            </td>
                        </tr>
                    </table>
                    
                </td>
                <td style="background-color: orange;">
                    <table>
                        <tr>
                            <td>
                                <h1>Free delivery</h1>
                                <button>Delivery now</button>
                            </td>
                            <td>
                                <img src="/img/checked-truck.png" alt="">
                            </td>
                        </tr>
                    </table>
                    
                </td>
                <td style="background-color: purple;">
                    <table>
                        <tr>
                            <td>
                                <h1>Gift Voucher</h1>
                                <button>Gift now</button>
                            </td>
                            <td>
                                <img src="/img/gift--v1.png" alt="">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div class="container">
            <div class="left-container">
                <table class="product-type">
                    <tr>
                        <td><img src="/img/icon_laptop.png" alt=""></td>
                        <td><a href=""><p>Eletronics</p></a></td>
                    </tr>
                    <tr>
                        <td><img src="/img/icon_bag-front-view.png" alt=""></td>
                        <td><a href=""><p>HandBages</p></a></td>
                    </tr>
                    <tr>
                        <td><img src="/img/icon_wallet.png" alt=""></td>
                        <td><a href=""><p>Wallets</p></a></td>
                    </tr>
                    <tr>
                        <td><img src="/img/icon_clothes.png" alt=""></td>
                        <td><a href=""><p>Clothes</p></a></td>
                    </tr>
                </table>
            </div>
            <div class="right-container">